@charset "UTF-8";

@font-face {
  font-family: "hinted-NHaasGroteskDSPro-65Md";
  src: url("hinted-NHaasGroteskDSPro-65Md.woff2") format("woff2"),
       url("hinted-NHaasGroteskDSPro-65Md.woff") format("woff"),
       url("hinted-NHaasGroteskDSPro-65Md.ttf") format("truetype"),
       url("hinted-NHaasGroteskDSPro-65Md.eot") format("embedded-opentype"),
       url("hinted-NHaasGroteskDSPro-65Md.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}