// iconfont
@import "../assets/fonts/iconfont.css";

// swiper.css
@import "../../node_modules/swiper/css/swiper.min.css";

// mCustomScrollbar.css
@import "../../node_modules/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css";

// animate.css
@import "../../node_modules/animate.css/animate.min.css";

// lulu ui
@import "~pure/css/common/ui/LightTip.css";

/* reset */
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dd,
form {
  margin: 0;
  font-family: "HELVETICANEUELTPRO-THEX", "微软雅黑";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: inherit;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

img {
  border: none;
  vertical-align: top;
  width: 100%;
}

input,
textarea {
  margin: 0;
  padding: 0;
  outline: none;
}

select {
  outline: none;
}

textarea {
  resize: none;
  overflow: auto;
}

table {
  border-collapse: collapse;
}

th,
td {
  padding: 0;
}

input,
textarea {
  font-family: Arial, "微软雅黑";
  outline: 0;
  font-size: 14px;
  -webkit-appearance: none;
  border: none;
  background: 0 0;
}

button {
  padding: 0;
  outline: none;
  background-color: transparent;
  border: none;
}

.clear {
  clear: both;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
}

.clearfix:after {
  clear: both;
  display: block;
  content: "";
}

.clearfix {
  zoom: 1;
}

.fw {
  margin: 0 auto;
  width: 1180px;
}

.hide {
  display: none;
}

.obHide {
  display: none;
  visibility: hidden;
  position: absolute;
  z-index: 99;
}

.show {
  display: block;
}

.fa {
  color: inherit;
  line-height: inherit;
}

.flex {
  flex: 1;
  display: inline-flex;
  align-items: center;
}

.wow {
  // animation-name: fadeInUp;
  animation-name: none;
}

body,
html {
  width: 100%;
  height: 100%;
  // overflow: hidden;
  position: relative;

  overflow-x: hidden;
  overflow-y: scroll;
  height: auto;
  touch-action: manipulation;
}

body {
  overflow-x: hidden;
  // bottom: constant(safe-area-inset-bottom);
  // bottom: env(safe-area-inset-bottom);
  // top: constant(safe-area-inset-top);
  // top: env(safe-area-inset-top);
  height: calc(100% - env(safe-area-inset-bottom));
  height: calc(100% - constant(safe-area-inset-bottom));
  &.hidden {
    overflow: hidden;
  }
  &.openuser {
    overflow: hidden;
    .user-setting {
      display: block;
    }
  }
}

.swiper-button-next,
.swiper-button-prev {
  outline: none;
}

.mCSB_scrollTools .mCSB_draggerRail {
  background-color: transparent;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
  background-color: #666;
}

// sass
$colorVi: #34cd8b;
$colorBtn: #fa5051;
$colorTitle: #392f41;
$colorSubTitle: #392f41;
$colorNav: rgba(57, 47, 65, 0.45);
$colorCategory: #a6a6a6;
$colorDes: #a6a6a6;

$transition1: all 0.3s ease-out 0s;
$transition2: all 0.36s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
$transition3: all cubic-bezier(0.16, 0.57, 0, 0.76) 0.3s;

@mixin font($size: 24px, $height: 48px, $color: #000) {
  font-size: $size;
  line-height: $height;
  color: $color;
}

@mixin rowEllipsis($row, $lineHeight) {
  overflow: hidden;
  display: -webkit-box;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $row;
  height: $row * $lineHeight;
}

@mixin query($max, $min: 1280px) {
  @media only screen and (min-width: $min) and (max-width: $max) {
    @content;
  }
}

@mixin picCult($paddingTop) {
  .item_img {
    position: relative;
    overflow: hidden;
    padding-top: $paddingTop;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }
}

// font-family
@font-face {
  font-family: "Techna-Sans-Regular-2";
  src: url("https://qiniu-uematerial.uemo.net/Upfile/Font/20210425/f795bc3b-8e80-4370-86d5-8e121de5966a.otf");
  src: url("https://qiniu-uematerial.uemo.net/Upfile/Font/20210425/f795bc3b-8e80-4370-86d5-8e121de5966a.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HELVETICANEUELTPRO-THEX";
  src: url("../assets/fonts/HELVETICANEUELTPRO-THEX.woff2") format("woff2"),
    url("../assets/fonts/HELVETICANEUELTPRO-THEX.woff") format("woff"),
    url("../assets/fonts/HELVETICANEUELTPRO-THEX.ttf") format("truetype"),
    url("../assets/fonts/HELVETICANEUELTPRO-THEX.eot")
      format("embedded-opentype"),
    url("../assets/fonts/HELVETICANEUELTPRO-THEX.svg") format("svg");
}

.loading {
  background-image: url(../assets/images/puff.svg);
  background-repeat: no-repeat;
  background-position: center;
}

// 头部
#header {
  height: 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  .mm-hbtn {
    width: 120px;
    .lcbody {
      width: 40px;
      height: 28px;
      display: block;
      position: relative;
      padding: 34px 40px;
    }
    .lcitem {
      height: 14px;
      transform: translateZ(0) rotate(0);
      transition: transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99) 0s;
      .rect {
        width: 40px;
        height: 4px;
        border-radius: 2px;
        background: #000;
        transition: 0.2s ease 0.2s;
        transform: translate3d(0, 5px, 0);
      }
    }
    &.openMenu {
      .lcitem {
        &.top {
          transform: translate3d(0, 12px, 0) rotate(45deg);
        }
        &.bottom {
          transform: translate3d(0, -12px, 0) rotate(-45deg);
        }
      }
    }
  }
  .mm-hlogo {
    padding: 0 40px;
    .iconfont {
      @include font(52px, 96px, #333);
      display: block;
    }
  }
  .search {
    width: 110px;
    text-align: center;
    .iconfont {
      @include font(32px, 96px, #707070);
      display: block;
    }
  }
}

#search-box {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 202;
  transition: $transition2;
  padding: 24px 40px 0;
  box-sizing: border-box;
  &.show {
    right: 0;
  }
  .search_bar {
    position: relative;
    margin-bottom: 16px;
    .searchform {
      display: flex;
      justify-content: space-around;
    }
    .searchform_input {
      width: 596px;
      @include font(24px, 70px, #333);
      background-color: #f6f6f6;
      border-radius: 35px;
      padding: 0 28px 0 60px;
      box-sizing: border-box;
    }
    .searchform_submit {
      position: absolute;
      left: 28px;
      .iconfont {
        @include font(32px, 70px, #cdcdcd);
      }
    }
    .search_clear {
      @include font(24px, 70px, #333);
    }
  }
  .search_results {
    .result_block {
      margin-bottom: 22px;
      position: relative;
      h4 {
        @include font(28px, 106px, #333);
      }
      .result_words {
        font-size: 0;
        margin-right: -20px;
        a {
          padding: 0 28px;
          background-color: #f6f6f6;
          @include font(22px, 50px, #666);
          border-radius: 25px;
          display: inline-block;
          margin-right: 20px;
          margin-bottom: 20px;
        }
      }
      .clear_btn {
        position: absolute;
        top: 0;
        right: -40px;
        padding: 0 40px;
        .iconfont {
          @include font(28px, 106px, #a4a4a4);
        }
      }
    }
  }
}

.side-nav {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  transition: $transition2;
  .wow {
    animation-name: fadeInUp;
  }
  .nav_container {
    padding: 148px 0 0 70px;
  }
  .nav_wrapper {
    padding-bottom: 210px;
    border-bottom: 1px solid #f2f2f2;
    .nav_item {
      @include font(28px, 82px, #999);
      display: block;
      position: relative;
      animation-name: fadeInUp;
      &.active {
        color: #333;
        &::before {
          opacity: 1;
        }
      }
      &::before {
        content: "";
        width: 4px;
        height: 28px;
        position: absolute;
        top: calc(50% - 14px);
        left: -70px;
        background-color: #333;
        opacity: 0;
      }
    }
  }
  .contact {
    padding-top: 66px;
    .tel {
      @include font(38px, 52px, #333);
      font-family: "Techna-Sans-Regular-2";
    }
    .workday {
      @include font(22px, 36px, #666);
    }
    .address {
      @include font(22px, 34px, #999);
      padding-top: 22px;
    }
    .share {
      padding-top: 64px;
      a {
        margin-right: 42px;
      }
      .iconfont {
        @include font(40px, 1, #666);
      }
    }
  }
}

// 底部
#footer {
  width: 100%;
  height: 120px;
  position: fixed;
  bottom: 0;
  box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  z-index: 200;
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
  transition: $transition2;
  .module_container {
    font-size: 0;
  }
  .footer-item {
    width: 20%;
    display: inline-block;
    text-align: center;
    padding: 16px 0 18px;
    .icon-active {
      display: none;
    }
    .iconfont {
      @include font(42px, 56px, #333);
    }
    span {
      width: 100%;
      @include font(18px, 30px, #999);
      display: inline-block;
    }
    &.active {
      .iconfont,
      span {
        color: $colorVi;
      }
      .icon-default {
        display: none;
      }
      .icon-active {
        display: block;
      }
    }
  }
}

body {
  &.show {
    #header,
    #footer {
      opacity: 0;
      visibility: hidden;
    }
    .side-nav {
      opacity: 1;
      visibility: visible;
    }
    #sitecontent {
      padding-bottom: 0;
      // height: 100%;
      height: 100vh;
      border-radius: 30px;
      box-shadow: 0px 0px 68px 0px rgba(91, 91, 91, 0.41);
      transform: translate3d(490px, 0, 1px) scale(0.8);
    }
    .mask {
      display: block;
      position: absolute;
    }
    .scrollView {
      position: relative;
    }
  }
  &.mini {
    &:not(.bodycustomer):not(.bodydiy):not(.bodysearch) {
      #header {
        background-color: rgba(255, 255, 255, 0.72);
        backdrop-filter: saturate(180%) blur(20px);
      }
    }
    &.bodyindex {
      #header {
        background-color: rgba(255, 255, 255, 0.72);
        .mm-hbtn .lcitem .rect {
          background-color: #000;
        }
        .mm-hlogo .iconfont {
          color: #333;
        }
        .search .iconfont {
          color: #707070;
        }
      }
    }
    &.bodysearch,
    &.bodycustomer,
    &.bodydiy {
      #header {
        background-color: transparent;
      }
      .list-serch,
      .case_btn {
        &::after {
          background-color: rgba(255, 255, 255, 0.72);
          backdrop-filter: saturate(180%) blur(20px);
        }
      }
    }
  }
}

// 分类
.page_target {
  width: 100%;
  position: fixed;
  background-color: #fff;
  left: 0;
  bottom: calc(106px + env(safe-area-inset-bottom));
  bottom: calc(106px + constant(safe-area-inset-bottom));
  z-index: 201;
  padding: 0 40px;
  box-sizing: border-box;
  .current_category {
    width: 100%;
    height: 80px;
    border-radius: 10px;
    padding: 0 40px;
    box-sizing: border-box;
    background-color: $colorVi;
    display: flex;
    justify-content: space-between;
    .text {
      @include font(24px, 80px, #fff);
    }
    .iconfont {
      @include font(16px, 80px, #fff);
    }
  }
  .category_wrapper {
    display: none;
  }
}

.category_overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 202;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  transition: all 0.45s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  &.show {
    opacity: 1;
    visibility: visible;
  }
  .swiper-scrollbar {
    background-color: transparent;
  }
}

.category_menu {
  width: 100%;
  background-color: #fff;
  border-radius: 20px 20px 0 0;
  padding-bottom: 48px;
  box-sizing: border-box;
  // position: absolute;
  position: fixed;
  bottom: -100vh;
  transition: all 0.45s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  z-index: 203;
  &.show {
    bottom: 0;
  }
  .content_list {
    padding: 0 40px;
    height: 700px;
    box-sizing: border-box;
  }
  .head {
    @include font(28px, 106px, #333);
    text-align: center;
  }
  .foot {
    @include font(24px, 106px, #333);
    text-align: center;
    border-top: 1px solid #e5e5e5;
  }
  .item_cate {
    @include font(24px, 80px, #666);
    &:not(:last-child) {
      border-bottom: 1px solid #e5e5e5;
    }
    a {
      display: flex;
      justify-content: space-between;
      margin: 10px 0;
      padding: 0 40px;
      border-radius: 10px;
      transition: $transition1;
    }
    span {
      transition: $transition1;
    }
    &.active {
      a {
        background-color: $colorVi;
        span {
          color: #fff;
        }
      }
    }
  }
}

// list searchbar
.search_bar {
  .search_bar_wrapper {
    position: relative;
  }
  .searchform_input {
    width: 100%;
    border-radius: 43px;
    @include font(24px, 86px, #333);
    background-color: #f6f6f6;
    padding-left: 84px;
    box-sizing: border-box;
  }
  .searchform_submit {
    position: absolute;
    left: 36px;
    .iconfont {
      @include font(32px, 86px, #cdcdcd);
    }
  }
}

// 公共样式
body #sitecontent {
  // transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: $transition2;
  position: relative;
  z-index: 1;
  // height: 100%;
  // padding: 96px 0 120px;
  padding-bottom: 120px;
  // height: calc(100% - 216px);
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #fff;
  &.hidden {
    overflow: hidden;
    height: 100vh;
  }
}
.scrollView {
  overflow-x: hidden;
  overflow-y: auto;
  // height: 100%;
  height: auto;
  background: #fff;
}

.mask {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
}

.pager {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 180px;
  li {
    @include font(26px, 32px, #333);
    &.disabled {
      color: #999;
      pointer-events: none;
    }
  }
}

//首页
.bodyindex {
  #header {
    background-color: transparent;
    transition: $transition1;
    .mm-hbtn .lcitem .rect {
      background-color: #fff;
      transition: $transition1;
    }
    .mm-hlogo .iconfont,
    .search .iconfont {
      color: #fff;
      transition: $transition1;
    }
  }
  #sitecontent {
    padding-top: 0;
    // height: calc(100% - 120px);
  }
  .indexPage {
    background-color: #f6f6f6;
  }
  #mslider {
    position: relative;
    height: 725px;
    #renderSurface {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
    .item_block {
      background: linear-gradient(120deg, #8400ff 12%, #9700d4 100%);
      text-align: center;
      height: 725px;
      overflow: hidden;
      .item_wrapper {
        padding-top: 256px;
        position: relative;
        z-index: 1;
        pointer-events: none;
        .title {
          @include font(70px, 96px, #fff);
          span {
            color: $colorVi;
            font-family: "Techna-Sans-Regular-2";
            margin-right: 16px;
          }
        }
        .subtitle {
          @include font(24px, 50px, #fff);
        }
      }
      .item_btn {
        width: 545px;
        margin: 48px auto 0;
        display: flex;
        justify-content: space-between;
        position: relative;
        z-index: 1;
        div {
          width: 256px;
          border: 2px solid #fff;
          border-radius: 40px;
          &.active {
            background-color: $colorVi;
            border-color: $colorVi;
          }
          a {
            display: block;
            @include font(24px, 66px, #fff);
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }
  #mcounter {
    .module_container {
      padding: 88px 40px 38px;
    }
    .item_block {
      width: 50%;
      float: left;
      text-align: center;
      margin-bottom: 50px;
      .number {
        position: relative;
        display: inline-block;
        .counterDX {
          display: inline-block;
          @include font(72px, 1, #333);
          font-family: "Techna-Sans-Regular-2";
          animation: 0.65s cubic-bezier(0, 0, 0.17, 1) 0s normal backwards 1
            motion-blur-number-0;
        }
        .unit {
          position: absolute;
          top: 0;
          right: -36px;
          @include font(16px, 1, #999);
        }
      }
    }
  }
  .template {
    .module_container {
      padding: 78px 40px 0;
    }
    .container_header {
      text-align: center;
      width: 520px;
      margin: 0 auto;
      .title {
        line-height: 86px;
        font-family: "Techna-Sans-Regular-2";
      }
      .subtitle {
        line-height: 46px;
        color: #999;
      }
    }
    .container_category {
      margin: 64px 0;
      .header_btn {
        text-align: center;
        .item_btn {
          width: 272px;
          height: 70px;
          @include font(24px, 70px, #fff);
          background-color: $colorVi;
          display: inline-block;
          border-radius: 35px;
          padding: 0;
          .iconfont {
            margin-left: 20px;
            font-size: 24px;
          }
        }
        .random {
          display: none;
        }
      }
      .category_wrapper {
        display: none;
      }
    }
    .container_content {
      padding-bottom: 100px;
    }
    .more {
      width: 272px;
      margin: 0 auto;
      @include font(24px, 70px, #999);
      background-color: #fff;
      box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
      display: block;
      border-radius: 35px;
      text-align: center;
      .iconfont {
        font-size: 16px;
        color: #000;
      }
    }
  }
  #case {
    .module_container {
      padding: 85px 0 100px;
    }
    .container_header {
      padding: 0 40px;
      margin-bottom: 56px;
      .title {
        @include font(48px, 78px, #000);
      }
      .subtitle {
        @include font(24px, 52px, #999);
      }
    }
    .container_category {
      margin-bottom: 60px;
      a {
        background-color: #f6f6f6;
        &.active {
          background-color: #34cd8b;
          color: #fff;
        }
      }
    }
    .container_content .swiper-container {
      padding: 0 40px;
    }
    .item_block {
      background-color: #f8f8f8;
      border-radius: 10px;
      width: 460px;
      .head {
        height: 20px;
        font-size: 0;
        padding-left: 20px;
        .iconfont {
          @include font(24px, 20px, #dfdfdf);
        }
      }
      .item_wrapper {
        padding: 0 32px;
      }
      .title {
        @include font(22px, 94px, #666);
      }
    }
  }
  #team {
    .module_container {
      padding: 85px 0 0 0;
    }
    .container_content {
      padding-bottom: 100px;
    }
    .content_des {
      .swiper-container {
        padding: 46px 0 60px;
      }
      .item_block {
        width: 580px;
        box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.2);
        box-sizing: border-box;
        border-radius: 20px;
        padding: 56px 46px 66px;
        &::after {
          content: "";
          width: 0;
          left: 0;
          border: 16px solid #fff;
          border-right-color: transparent;
          border-bottom-color: transparent;
          border-left-color: transparent;
          position: absolute;
          left: 74px;
          bottom: -32px;
        }
        .des {
          @include font(24px, 52px, #999);
          @include rowEllipsis(6, 52px);
        }
      }
    }
    .content_info {
      .item_block {
        display: flex;
        justify-content: space-between;
        padding: 0 125px;
        box-sizing: border-box;
        @include picCult(100px);
        .item_img {
          width: 100px;
        }
        .item_info {
          flex: 0 1 auto;
          width: 200px;
        }
        .title {
          @include font(36px, 52px, #333);
        }
        .subtitle {
          @include font(18px, 34px, #999);
        }
        .item_autograph {
          position: relative;
          overflow: hidden;
          padding-top: 100px;
          width: 120px;
          img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
          }
        }
      }
    }
  }
  #news {
    .module_container {
      padding: 42px 0 0 0;
      background-color: #f8f8f8;
    }
    .container_header .title {
      line-height: 184px;
    }
    .container_category {
      padding-bottom: 80px;
    }
    .container_content {
      .content_list {
        padding: 0 40px;
        box-sizing: border-box;
      }
      .item_block {
        margin-bottom: 62px;
        .title {
          @include font(30px, 90px, #333);
        }
        .des {
          @include font(24px, 46px, #999);
          @include rowEllipsis(2, 46px);
        }
      }
    }
  }
  #mcustomize {
    .module_container {
      padding: 68px 40px 124px;
      text-align: center;
      background-color: #5942d2;
    }
    .title {
      @include font(48px, 132px, #fff);
    }
    .description {
      @include font(22px, 46px, #fff);
      margin-bottom: 70px;
    }
    .free_btn {
      width: 268px;
      @include font(24px, 66px, #fff);
      border: 2px solid #fff;
      display: block;
      margin: 0 auto;
      border-radius: 34px;
    }
  }
}

.module {
  padding-bottom: 10px;
  .module_container {
    background-color: #fff;
  }
  .container_header {
    padding: 0 40px;
    .title {
      @include font(48px, 78px, #000);
    }
    .subtitle {
      @include font(24px, 52px, #999);
    }
  }
  .container_category {
    .swiper-container {
      padding-left: 40px;
    }
    a {
      width: auto;
      @include font(24px, normal, #333);
      height: 60px;
      padding: 0 38px;
      border-radius: 30px;
      background-color: #fff;
      display: flex;
      align-items: center;
      transition: background 0.3s ease-out 0s, color 0.3s ease-out 0s;
      &.swiper-slide-thumb-active {
        background-color: $colorVi;
        color: #fff;
      }
    }
  }
}

// template 模板列表板块
.template {
  .content_list {
    padding-bottom: 52px;
  }
  .item_block {
    &:not(:last-child) {
      margin-bottom: 52px;
    }
    .item_img {
      border-radius: 10px;
      overflow: hidden;
      margin-bottom: 30px;
    }
    .item_wrapper {
      .title {
        @include font(28px, 44px, #333);
      }
      .subtitle {
        @include font(18px, 32px, #999);
        font-family: "Techna-Sans-Regular-2";
        .num {
          margin-right: 16px;
        }
      }
    }
  }
}

// 模板列表页
.bodytemplate {
  .page_target {
    .container_category {
      padding: 14px 0 56px;
    }
  }
  .perch-box {
    height: 150px;
  }
  .npagePage {
    padding: 0 40px;
  }
}

// 模板详情页
.bodytemplatepost {
  #header {
    justify-content: flex-start;
    .back_btn {
      width: 96px;
      text-align: center;
      .iconfont {
        @include font(32px, 96px, #000);
      }
    }
    .post_id {
      @include font(18px, normal, #333);
      background-color: #f6f6f6;
      padding: 0 38px;
      border-radius: 20px;
      box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
      display: flex;
      align-items: center;
      .text {
        margin-right: 16px;
        vertical-align: top;
      }
      .id {
        font-family: "Techna-Sans-Regular-2";
        vertical-align: top;
      }
    }
    .search {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  #sitecontent {
    padding: 96px 0 0 0;
    height: calc(100% - 96px);
  }
  .npagePage {
    background-color: #f6f6f6;
    padding-bottom: 120px;
  }
  .post_btn_wrapper {
    width: 670px;
    background-color: #fff;
    padding: 8px;
    position: absolute;
    left: 40px;
    bottom: 30px;
    display: flex;
    justify-content: space-between;
    border-radius: 38px;
    .post_btn {
      height: 64px;
      @include font(24px, normal, #fff);
      padding: 0 117px;
      border-radius: 32px;
      display: flex;
      align-items: center;
      &.preview {
        background-color: $colorVi;
      }
      &.try {
        background-color: $colorBtn;
      }
    }
  }
  .banner {
    position: relative;
    box-shadow: 0px 16px 10px 0px rgba(0, 0, 0, 0.1);
    .image {
      height: 464px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
  .templatepost_title {
    .title {
      text-align: center;
      @include font(30px, 150px, #333);
    }
  }
  .user {
    .module_container {
      padding: 50px 0 60px;
    }
    .container_header {
      .title {
        @include font(30px, 54px, #333);
      }
      .subtitle {
        @include font(22px, 44px, #999);
      }
    }
    .container_content {
      padding: 39px 0 0 0;
    }
    .swiper-container {
      padding: 0 40px;
    }
    .item_block {
      width: 460px;
      background-color: #f8f8f8;
      border-radius: 10px;
      .head {
        .iconfont {
          color: #dfdfdf;
          margin-left: 20px;
        }
      }
      .item_wrapper {
        padding: 10px 30px 20px;
        .title {
          @include font(22px, 68px, #666);
        }
        .tags {
          span {
            @include font(18px, normal, #fff);
            width: 130px;
            height: 40px;
            text-align: center;
            background-color: #b6b6b6;
            border-radius: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            float: left;
          }
        }
      }
    }
  }
  .listContent {
    .module_containet {
      padding: 58px 0 64px;
      background-color: #fff;
    }
    .container_header {
      padding-left: 40px;
      .title {
        @include font(30px, 112px, #333);
      }
    }
    .container_category {
      padding-left: 40px;
      a {
        @include font(24px, normal, #333);
        height: 60px;
        display: inline-block;
        padding: 0 34px;
        box-sizing: border-box;
        text-align: center;
        border-radius: 30px;
        background-color: #f6f6f6;
        width: auto;
        transition: background 0.3s ease-out 0s, color 0.3s ease-out 0s;
        display: flex;
        align-items: center;
        &.active,
        &.swiper-slide-thumb-active {
          background-color: $colorVi;
          color: #fff;
        }
      }
    }
    .container_content {
      .swiper-container {
        padding: 52px 40px 0;
      }
      .content_list {
        margin-right: -36px;
      }
      .item_block {
        width: calc(50% - 36px);
        margin-right: 36px;
        margin-bottom: 36px;
        float: left;
        .item_img {
          border-radius: 10px;
          overflow: hidden;
          margin-bottom: 24px;
        }
        .item_wrapper {
          .title {
            @include font(24px, 36px, #333);
          }
          .subtitle {
            @include font(18px, 28px, #999);
            // transform: scale(0.8);
            // transform-origin: left;
            .id {
              font-family: "Techna-Sans-Regular-2";
            }
          }
        }
      }
    }
  }
  .abstract {
    .module_container {
      padding: 20px 40px 98px;
    }
    .title {
      @include font(30px, 110px, #333);
    }
    .container_content {
      p {
        @include font(20px, 40px, #999);
      }
    }
  }
  #footer {
    // bottom: -120px;
    bottom: -400px;
    transition: $transition2;
    &.show {
      bottom: 0;
    }
    .post_btn_wrapper {
      padding: 0;
      top: 22px;
      bottom: auto;
    }
    .post_btn {
      height: 75px;
      border-radius: 40px;
    }
  }
}

// demo页面
.demo {
  #sitecontent {
    padding-top: 0;
    height: calc(100vh - 120px);
  }
  .contentArea {
    height: 100%;
  }
  .contentFrame {
    width: 100%;
    height: calc(100vh - 120px);
  }
  #mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    background-color: #000;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    .iconfont {
      @include font(120px, 1, #fff);
      animation: rotate-forever 1.5s linear infinite;
    }
  }
  #footer {
    bottom: -120px;
    transition: $transition2;
    &.show {
      bottom: 0;
    }
    .demo_btn_wrapper {
      padding: 15px 40px;
      display: flex;
      justify-content: space-between;
    }
    .back {
      width: 130px;
      @include font(24px, 90px, #999);
      .iconfont {
        @include font(24px, 90px, #000);
      }
    }
    .try_btn {
      width: 508px;
      height: 90px;
      background-color: $colorBtn;
      border-radius: 45px;
      text-align: center;
      @include font(26px, 90px, #fff);
    }
  }
  .category_menu .category_wrapper {
    .wxcode {
      text-align: center;
      margin-bottom: 50px;
      .qrcode {
        width: 250px;
      }
      .text {
        display: block;
        @include font(24px, 76px, #999);
      }
    }
    .item_cate {
      padding: 0 40px;
      border: none;
      .tel {
        display: flex;
        align-items: center;
        .iconfont {
          @include font(44px, 80px, #fff);
          margin-right: 36px;
        }
      }
    }
  }
}

// 案例列表页

.user {
  .item_block {
    border-radius: 10px;
    background-color: #f8f8f8;
    &:not(:last-child) {
      margin-bottom: 40px;
    }
    .head {
      height: 27px;
      font-size: 0;
      padding-left: 20px;
      .iconfont {
        @include font(24px, 27px, #dfdfdf);
      }
    }
    .item_wrapper {
      padding: 32px 34px;
      position: relative;
      .item_info {
        .title {
          @include font(28px, 42px, #333);
        }
        .subtitle {
          @include font(22px, 36px, #999);
        }
        .tag {
          display: none;
          @include font(18px, 32px, #fff);
          background-color: $colorBtn;
          border-radius: 15px;
          position: absolute;
          padding: 0 10px;
          top: 36px;
          left: 180px;
          span {
            display: inline-block;
            transform: scale(0.7);
          }
        }
      }
      .drop_down {
        position: absolute;
        right: 0;
        bottom: 30px;
        .btn {
          width: 89px;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          .iconfont {
            // @include font(24px, 1, #000);
          }
        }
      }
    }
  }
}

.bodydiy,
.bodycustomer {
  .case_btn {
    width: 100%;
    position: fixed;
    top: 96px;
    left: 0;
    font-size: 0;
    background-color: #fff;
    transition: $transition2;
    z-index: 100;
    &::before {
      content: "";
      width: 1px;
      height: 26px;
      background-color: #e5e5e5;
      position: absolute;
      top: calc(50% - 13px);
      left: 50%;
    }
    &::after {
      content: "";
      width: 100%;
      height: 186px;
      position: absolute;
      left: 0;
      bottom: 0;
      transition: $transition2;
      box-shadow: 0 3px 15px 10px rgba(#000, 0.06);
    }
    a {
      @include font(28px, 90px, #333);
      display: inline-block;
      width: 50%;
      text-align: center;
      position: relative;
      z-index: 1;
      &.active {
        color: $colorVi;
      }
    }
  }
  .page_target {
    .container_category {
      padding: 14px 0 51px;
      width: 80%;
      margin: 0 auto;
    }
  }
  .perch-box {
    height: 235px;
  }
  .page_content {
    padding: 0 40px;
    border-bottom: 10px solid #f6f6f6;
  }
  .user {
    .container_header {
      display: none;
      .title {
        @include font(30px, 54px, #333);
        font-weight: bold;
      }
      .subtitle {
        @include font(22px, 44px, #999);
      }
    }
    .content_list {
      padding-bottom: 100px;
    }
  }
  .listContent {
    padding: 0 40px;
    .module_containet {
      padding: 58px 0 146px;
      background-color: #fff;
    }
    .container_header {
      .title {
        @include font(30px, 112px, #333);
      }
    }
    .container_content {
      .swiper-container {
        padding: 52px 40px 0;
      }
      .content_list {
        margin-right: -36px;
      }
      .item_block {
        width: calc(50% - 36px);
        margin-right: 36px;
        margin-bottom: 36px;
        float: left;
        .item_img {
          border-radius: 10px;
          overflow: hidden;
          margin-bottom: 24px;
        }
        .item_wrapper {
          .title {
            @include font(24px, 36px, #333);
          }
          .subtitle {
            @include font(18px, 28px, #999);
            // transform: scale(0.8);
            // transform-origin: left;
            .id {
              font-family: "Techna-Sans-Regular-2";
            }
          }
        }
      }
    }
  }
}

.bodydiypost {
  .perch-box {
    height: 96px;
  }
}

.news {
  .item_block {
    margin-bottom: 64px;
    .title {
      @include font(30px, 88px, #333);
    }
    .des {
      @include font(24px, 46px, #999);
      @include rowEllipsis(2, 46px);
    }
  }
}

// 新闻列表
.bodynews {
  #header .search {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  #search-box {
    display: none;
  }
  .news-serch {
    position: fixed;
    width: 100%;
    padding: 0 40px;
    box-sizing: border-box;
    left: 0;
    background-color: #fff;
    .search_bar_wrapper {
      padding: 24px 0 54px;
    }
  }
  .npagePage {
    padding: 96px 40px 0;
  }
  .page_content {
    .search_tags {
      padding: 160px 36px 0;
      @include font(24px, 58px, #666);
      text-align: center;
      padding-bottom: 54px;
      border-bottom: 1px solid #f2f2f2;
      a {
        color: $colorVi;
        margin-right: 26px;
      }
    }
    .container_content {
      padding-top: 64px;
    }
  }
  .category_mask {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .page_target {
    .container_category {
      padding: 14px 0 51px;
      margin: 0 auto;
      width: 80%;
    }
  }
}

.bodynewspost {
  .post_info {
    padding-bottom: 38px;
    .title {
      @include font(30px, 44px, #333);
    }
    .subtitle {
      @include font(22px, 38px, #999);
    }
  }
  .post_content {
    padding: 30px 0 70px;
    border-bottom: 1px solid #f1f1f1;
  }
  .post_body {
    @include font(24px, 46px, #999);
  }
  .listWrap {
    padding-top: 50px;
    .listContent_post {
      h3 {
        @include font(24px, 90px, #999);
      }
      .item_tags {
        a {
          @include font(24px, 60px, #333);
          padding: 0 32px;
          display: inline-block;
          border-radius: 30px;
          text-align: center;
          background-color: #f6f6f6;
          width: auto;
          &.swiper-slide-thumb-active {
            color: #fff;
            background-color: $colorVi;
          }
        }
      }
    }
    .item_block {
      margin-bottom: 40px;
      .title {
        @include font(28px, 88px, #333);
      }
      .item_des {
        @include font(24px, 46px, #999);
        @include rowEllipsis(2, 46px);
      }
    }
  }
}

.popup {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #fff;
  width: 100%;
  height: 100%;
}

.img_preview_dom {
  line-height: 100vh;
  position: fixed;
  z-index: 9999999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.8);
  display: none;
  text-align: center;
  img {
    max-width: 96vw;
    max-height: 96vh;
    width: auto !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 1px);
  }
}

.bodysearch {
  #header .search {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  #search-box {
    display: none;
  }
  .list-serch {
    position: fixed;
    width: 100%;
    padding: 0 40px;
    box-sizing: border-box;
    left: 0;
    background-color: #fff;
    .search_bar {
      position: relative;
      z-index: 1;
    }
    &::after {
      content: "";
      width: 100%;
      height: 426px;
      position: absolute;
      left: 0;
      bottom: 0;
      transition: $transition2;
      box-shadow: 0 3px 15px 10px rgba(#000, 0.06);
    }
    .search_bar_wrapper {
      padding: 55px 0 23px;
      p {
        @include font(24px, 48px, #999);
      }
    }
  }
  .npagePage {
    padding: 96px 40px 0;
  }
  .page_result {
    padding: 344px 0 28px;
  }
  .page_category {
    padding-top: 44px;
    .swiper-slide {
      width: 186px;
      @include font(24px, 76px, #333);
      text-align: center;
      &::after {
        content: "";
        width: 100%;
        height: 3px;
        background-color: $colorVi;
        position: absolute;
        left: 0;
        bottom: 0;
        opacity: 0;
      }
      &.active {
        color: $colorVi;
        &::after {
          opacity: 1;
        }
      }
      .item_category {
        display: block;
      }
    }
    .arrow_right {
      position: absolute;
      top: 0;
      right: 0;
      color: #333;
      line-height: 76px;
      width: 87px;
      text-align: right;
      z-index: 1;
      background-image: linear-gradient(-90deg, #fff 36%, rgba(#fff, 0));
    }
  }
  .container_content {
    .result_module {
      .title {
        font-size: 28px;
        line-height: 132px;
        .text {
          color: #333;
        }
        .num {
          color: #999;
        }
      }
    }
  }
}

.user-setting {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999999;
  background-color: rgba(#000, 0.15);
  .user-setting_wrapper {
    width: 90vw;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(57, 47, 63, 0.06);
    padding: 20px 20px 0;
    overflow: hidden;
    .title {
      @include font(36px, 72px, #333);
      text-align: center;
      margin-bottom: 20px;
    }
  }
  &-personal_message-row {
    margin-bottom: 40px;
  }
  .custom_el_input-require_icon {
    font-size: 14px;
    line-height: 90px;
    position: absolute;
    left: 0;
    color: #fa5051;
    font-style: normal;
    font-family: Arial;
    transform: translateY(5px);
  }
  .custom_el_input-placeholder {
    font-size: 24px;
    line-height: 60px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    transition: 0.1s linear;
    transform-origin: left bottom;
    pointer-events: none;
    color: #bbb;
    will-change: transform;
    padding: 0 28px;
  }
  .el-form-item__content {
    position: relative;
    font-size: inherit;
    line-height: inherit;
  }
  .custom_el_input {
    font-family: "Techna-Sans-Regular-2";
    &[data-state="2"] {
      .el-input {
        position: relative;
        font-size: 24px;
        display: inline-block;
        width: 100%;
        box-sizing: border-box;
        padding: 0 28px;
        border-bottom: 1px solid #eee;
      }
      .custom_el_input-placeholder {
        .err_msg {
          opacity: 0;
        }
      }
      &.not_empty,
      &.state_focus {
        .el-input {
          border-color: #34cd8b;
        }
        .custom_el_input-placeholder {
          color: #fb7071;
        }
      }
      &.state_error {
        .el-input {
          border-color: #fb7071;
        }
        .custom_el_input-placeholder {
          color: #fb7071;
        }
      }
    }
    .el-input {
      .el-input__inner {
        transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
        width: 100%;
        outline: 0;
        display: inline-block;
        box-sizing: border-box;
        background-image: none;
        -webkit-appearance: none;
        font-size: 24px;
        line-height: 90px;
        height: auto;
        padding: 0;
        color: #666;
        border: none;
        background-color: #fff;
      }
    }
  }
  .submit_btn {
    font-size: 32px;
    line-height: 90px;
    width: 100%;
    margin: 0 auto;
    transition: 0.26s ease;
    text-align: center;
    color: #fff;
    border-radius: 45px;
    background-color: #34cd8b;
    &.state-disable {
      cursor: not-allowed;
      background-color: #adadad;
    }
  }
}

.bodysinglepage {
  #sitecontent {
    padding-top: 96px;
  }
}
body.agent-mobile #footer {
    padding-bottom: env(safe-area-inset-bottom);
}
// js-loading-dom
.pay_loading_dom {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  bottom: 0;
  z-index: 99999;
  align-items: center;
  background: rgba(0, 0, 0, 0.1);
  justify-content: center;
  &_wrapper {
    position: relative;
    width: 400px;
    height: 240px;
    text-align: center;
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 4px 7px 12px rgba(0, 0, 0, 0.2);
    .pay_message {
      font-size: 16px;
      line-height: 32px;
      padding-top: 30px;
      margin-bottom: 30px;
      color: #999;
    }
  }
  .windows8 {
    position: relative;
    width: 24px;
    height: 24px;
    margin: auto;
    .wBall {
      position: absolute;
      width: 24px;
      height: 24px;
      opacity: 0;
      transform: rotate(225deg);
      animation: orbit 6.96s infinite;
      .wInnerBall {
        position: absolute;
        width: 4px;
        height: 4px;
        background: rgb(0, 0, 0);
        left: 0px;
        top: 0px;
        border-radius: 10px;
      }
    }
    #wBall_1 {
      animation-delay: 1.52s;
    }
    #wBall_2 {
      animation-delay: 0.3s;
    }
    #wBall_3 {
      animation-delay: 0.61s;
    }
    #wBall_4 {
      animation-delay: 0.91s;
    }
    #wBall_5 {
      animation-delay: 1.22s;
    }
  }
}

// custom animate
@keyframes popupBgfadeIn {
  0% {
    background-color: transparent;
  }

  to {
    background-color: rgba(0, 0, 0, 0.4);
  }
}

@keyframes motion-blur-number-0 {
  0% {
    opacity: 0;
    color: rgba(51, 51, 51, 0.2);
    text-shadow: 0 10px 0 rgba(51, 51, 51, 0.2), 0 20px 0 rgba(51, 51, 51, 0.2),
      0 33.333333333333336px 0 rgba(51, 51, 51, 0.2),
      0 40px 0 rgba(51, 51, 51, 0.2), 0 50px 0 rgba(51, 51, 51, 0.2),
      0 -10px 0 rgba(51, 51, 51, 0.2), 0 -20px 0 rgba(51, 51, 51, 0.2),
      0 -33.333333333333336px 0 rgba(51, 51, 51, 0.2),
      0 -40px 0 rgba(51, 51, 51, 0.2), 0 -50px 0 rgba(51, 51, 51, 0.2);
    transform: translateZ(0px) translateY(-100%);
    -webkit-transform: translateZ(0px) translateY(-100%);
  }
  33% {
    opacity: 1;
  }
  100% {
    color: rgba(51, 51, 51, 1);
    text-shadow: none;
    transform: translateZ(0px) translateY(0px);
    -webkit-transform: translateZ(0px) translateY(0px);
  }
}

@keyframes rotate-forever {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}

@keyframes orbit {
  0% {
    opacity: 1;
    z-index: 99;
    transform: rotate(180deg);
    animation-timing-function: ease-out;
  }

  7% {
    opacity: 1;
    transform: rotate(300deg);
    animation-timing-function: linear;
    origin: 0%;
  }

  30% {
    opacity: 1;
    transform: rotate(410deg);
    animation-timing-function: ease-in-out;
    origin: 7%;
  }

  39% {
    opacity: 1;
    transform: rotate(645deg);
    animation-timing-function: linear;
    origin: 30%;
  }

  70% {
    opacity: 1;
    transform: rotate(770deg);
    animation-timing-function: ease-out;
    origin: 39%;
  }

  75% {
    opacity: 1;
    transform: rotate(900deg);
    animation-timing-function: ease-out;
    origin: 70%;
  }

  76% {
    opacity: 0;
    transform: rotate(900deg);
  }

  100% {
    opacity: 0;
    transform: rotate(900deg);
  }
}
