{{include './partial/header.tpl' data={title:'uemo案例',bodyClass:'bodydiy'} }}
<!-- 内容 -->
<div id="sitecontent" class="sitecontent">
  <div id="scrollView" class="scrollView">
    <div class="npagePage postPage default content_editor">
      <div class="perch-box"></div>
      <div class="postPage_content">content</div>
    </div>
  </div>
  <div class="mask"></div>
</div>
{{include './partial/footer.tpl' data={active:'bodydiy'} }}